/*=======
Stylesheet by Chris Johnson
http://chrisltd.com
=======*/

/* BASE
================= */

*, *:before, *:after { @include prefixer(box-sizing, border-box); }

body { overflow-y: scroll; background: $bg-color; color: $text-color; }

img { max-width: 100%; }

a img { border: none; }

/* LAYOUT
================= */

header, [role="main"], footer { text-align: center; }

.container { max-width: $max-width; margin: 0 auto; text-align: left; }


/* MODULES
================= */

.hr { display: block; height: 1px; width: 100%; background: #000; margin: 1em 0; }

.horizontal-list { @include horizontal-list; }
