/* modified from http://css-tricks.com/dont-overthink-it-grids/ */

@mixin grid { margin: 0 0 $gutter 0; @include clearfix; }
.grid { @include grid; }

@mixin col{ @include prefixer(box-sizing, border-box); float: left; padding-right: $gutter;
   .grid &:last-child { padding-right: 0; }
}
/* [class*='col-'] { @include col; } */

@mixin col-2-3 {width: 66.66%; @include col; }

@mixin col-1-3 {width: 33.33%; @include col; }

@mixin col-1-2 {width: 50%; @include col; }

@mixin col-1-4 {width: 25%; @include col; }

@mixin col-1-8 {width: 12.5%; @include col; }

@mixin col-last { padding-right: 0; }

@include respond-to("tablet-large"){
	.col-2-3 {  @include col-2-3; }
	.col-1-3 { @include col-1-3; }
	.col-1-2 { @include col-1-2; }
	.col-1-4 { @include col-1-4; }
	.col-1-8 { @include col-1-8; }
	.col-last { @include col-last; }
}

/* Opt-in outside padding */
.grid-pad { padding: $gutter 0 $gutter $gutter;
  [class*='col-']:last-child { padding-right: $gutter; }
}
