.hide { @include hide; }

.desktop_only { display: none;
	@include respond-to("tablet"){ display: block; }
}

.remove { display: none; }

.reset { margin: 0; padding:0; border: 0; list-style: none; }

.floatright { float: right; }

.floatleft { float: left;  }

.alignright { float: right; margin: 0 0 10px 10px; }

.alignleft { float: left; margin: 0 10px 10px 0; }

.textcenter { text-align: center; }

.textright { text-align: right; }

.textleft { text-align: left; }

.pad-top { padding-top: 1em; }
.pad-top-extra { padding-top: 2em; }
.pad-top-max { padding-top: 3em; }

.pad-bottom { padding-bottom: 1em; }
.pad-bottom-extra { padding-bottom: 2em; }
.pad-bottom-max { padding-bottom: 3em; }

.pad-left { padding-left: 1em; }
.pad-left-extra { padding-left: 2em; }
.pad-left-max { padding-left: 3em; }

.pad-right { padding-right: 1em; }
.pad-right-extra { padding-right: 2em; }
.pad-right-max { padding-right: 3em; }

.margin-top { margin-top: 1em; }
.margin-top-extra { margin-top: 2em; }
.margin-top-max { margin-top: 3em; }

.margin-bottom { margin-bottom: 1em; }
.margin-bottom-extra { margin-bottom: 2em; }
.margin-bottom-max { margin-bottom: 3em; }

.margin-left { margin-left: 1em; }
.margin-left-extra { margin-left: 2em; }
.margin-left-max { margin-left: 3em; }

.margin-right { margin-right: 1em; }
.margin-right-extra { margin-right: 2em; }
.margin-right-max { margin-right: 3em; }

.text-larger { font-size: 1.2em; }

.text-smaller { font-size: 0.8em; }

.sans { font-family: $sans; }

.serif { font-family: $serif; }

.caps { text-transform: uppercase; letter-spacing: 1px; }

.ir { @include ir; }

.vertical-center { @include vertical-center; }

.relative { position: relative; }

.clearboth { clear: both; }

.clearfix { @include clearfix; }

.responsive_video_container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;
  iframe, object, embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}

@include respond-to("tablet"){
  .two_col_text { @include prefixer(column-count, 2); }
  .three_col_text { @include prefixer(column-count, 3); }
  .four_col_text { @include prefixer(column-count, 4); }
}

.full_width { width: 100%; }

@media print {
  .print_hide { display: none; }
}
