// A basic media query mixin that makes responsive work simple.

@mixin respond-to($device) {
  @if $device == handheld {
    @media only screen and (min-width: 320px) {
      @content;
    }
  }
  @if $device == handheld-landscape {
    @media only screen and (min-width: 320px) and (orientation: landscape) {
      @content;
    }
  }
  @if $device == handheld-portrait {
    @media only screen and (max-width: 320px) and (orientation: landscape) {
      @content;
    }
  }
  @if $device == tablet {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }
  @if $device == tablet-landscape {
    @media only screen and (min-width: 600px) and (orientation: landscape) {
      @content;
    }
  }
  @if $device == tablet-portrait {
    @media only screen and (min-width: 600px) and (orientation: portrait) {
      @content;
    }
  }
  @if $device == tablet-large {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $device == tablet-large-landscape {
    @media only screen and (min-width: 768px) and (orientation: landscape) {
      @content;
    }
  }
  @if $device == tablet-large-portrait {
    @media only screen and (min-width: 768px) and (orientation: portrait) {
      @content;
    }
  }
  @if $device == desktop {
    @media only screen and (min-width: 1224px) {
      @content;
    }
  }
  @if $device == desktop-large {
    @media only screen and (min-width: 1824px) {
      @content;
    }
  }
  @if $device == retina-display {
    @media  only screen and (-webkit-min-device-pixel-ratio: 2),
                  only screen and (   -moz-min-device-pixel-ratio: 2),
                  only screen and (     -o-min-device-pixel-ratio: 2/1),
                  only screen and (        min-device-pixel-ratio: 2),
                  only screen and (                min-resolution: 192dpi),
                  only screen and (                min-resolution: 2dppx) {
      @content;
    }
  }
}

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);

  @media    only screen and (-webkit-min-device-pixel-ratio: 2),
                  only screen and (   -moz-min-device-pixel-ratio: 2),
                  only screen and (     -o-min-device-pixel-ratio: 2/1),
                  only screen and (        min-device-pixel-ratio: 2),
                  only screen and (                min-resolution: 192dpi),
                  only screen and (                min-resolution: 2dppx) {
    & {
      background-image: url($file + '@2x.' + $type);
      @include prefixer(background-size, $width $height);
    }
  }
}

body {
  &:after {
    display: none;
    @include respond-to(handheld) {
      content: "handheld";
    }

    @include respond-to(tablet) {
      content: "tablet";
    }

    @include respond-to(tablet-large) {
      content: "tablet-large";
    }

    @include respond-to(desktop) {
      content: "desktop";
    }

    @include respond-to(desktop-large) {
      content: "desktop-large";
    }
  }
}
