$sans: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$serif: Georgia, 'Times New Roman', Times, serif;

$max_width: 960px;
$gutter: 20px;

$bg_color: #fff;
$text_color: #000;
$highlight_color: red;
