/*=======
Stylesheet by Chris Johnson
http://chrisltd.com
=======*/

/* BASE
================= */

*, *:before, *:after { @include prefixer(box-sizing, border-box); }

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll; background: $bg-color; color: $text-color; }

a { color: $link-color; }

img { max-width: 100%; }

a img { border: none; }

/* LAYOUT
================= */

header, [role="main"], footer { text-align: center; }

.container { max-width: $max-width; margin: 0 auto; text-align: left; }

/* MODULES
================= */

.hr { display: block; height: 1px; width: 100%; background: $gray; margin: 1em 0; }

.horizontal-list { @include horizontal-list; }
