/* MIXINS
================= */

@mixin vertical-gradient($top-color, $bottom-color) {
  background: $bottom-color;
  background: -moz-linear-gradient(top, $top-color 0%, $bottom-color 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top-color),
      color-stop(100%,$bottom-color));
  background: -webkit-linear-gradient(top, $top-color 0%,$bottom-color 100%);
  background: -o-linear-gradient(top, $top-color 0%,$bottom-color 100%);
  background: -ms-linear-gradient(top, $top-color 0%,$bottom-color 100%);
}

@mixin horizontal_gradient($left_color, $right_color) {
  background: $left_color;
  background: -moz-linear-gradient(left, $left_color 0%, $right_color 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$left_color),
      color-stop(100%,$right_color));
  background: -webkit-linear-gradient(left, $left_color 0%,$right_color 100%);
  background: -o-linear-gradient(left, $left_color 0%,$right_color 100%);
  background: -ms-linear-gradient(left, $left_color 0%,$right_color 100%);
}

@mixin box-shadow($x, $y, $blur, $color){
  -moz-box-shadow: $x $y $blur $color;
  -webkit-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}

@mixin box-shadow-inset($x, $y, $blur, $color){
  -moz-box-shadow: inset $x $y $blur $color;
  -webkit-box-shadow: inset $x $y $blur $color;
  box-shadow: inset $x $y $blur $color;
}

@mixin ir{ display: block; text-indent: 150%; white-space: nowrap; overflow: hidden; }

@mixin hide { position: absolute; top: -9999px; left: -9999px; }

@mixin reset{ margin: 0; padding:0; border: 0; list-style: none; }

@mixin horizontal-list { list-style: none; margin: 0; padding: 0;
  li { list-style: none; float: left; margin: 0; padding: 0; }
}

@mixin vertical-list { list-style: none; margin: 0; padding: 0;
  li { list-style: none; margin: 0; padding: 0; }
}

@mixin centered-list { list-style: none; margin: 0; padding: 0; text-align: center;
  li { vertical-align: top; list-style: none; margin: 0; padding: 0; display: inline-block; }
	.lt-ie8 & li { float: left; }
}

@mixin vertical-center { margin: auto; position: absolute; top: 50%;
  -webkit-transform: translateY(-50%); transform: translateY(-50%); }

@mixin clearfix { zoom: 1;
  &:before { content: ""; display: table; }
  &:after { content: ""; display: table; clear: both; }
}

@mixin prefixer ($property, $value,
                 $webkit: true,
                    $moz: true,
                     $ms: false,
                      $o: false,
                   $spec: true) {
  @if $webkit { -webkit-#{$property}: $value; }
  @if $moz    {    -moz-#{$property}: $value; }
  @if $ms     {     -ms-#{$property}: $value; }
  @if $o      {      -o-#{$property}: $value; }
  @if $spec   {         #{$property}: $value; }
}
