@charset "UTF-8";

@import "_variables.scss";
@import "_normalize.scss";
@import "_mixins.scss";
@import "_responsive.scss";
@import "_grid-bootstrap.scss";
// @import "_grid-simple.scss";
@import "_animations.scss";
@import "_helpers.scss";
@import "_default.scss";
@import "_header.scss";
@import "_footer.scss";
